[server]
# Protocol (http, https)
protocol = http

# The http port to use
http_port = {{ grafana_port }}

# The public facing domain name used to access grafana
domain = localhost

[auth]
# Set to true to disable (hide) the login form, useful if using OAuth
disable_login_form = false

[auth.anonymous]
# Enable anonymous access
enabled = false

[security]
# Default admin user credentials
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}  # Change this in production!

[database]
# SQLite is default; adjust if using MySQL/PostgreSQL
type = sqlite3
path = {{ grafana_data_dir }}/grafana.db